.bandas {
  padding: 50px;
}

@media (max-width: $mq-max-width) {
  .bandas {
    $padding: 30px 5px;
    // Only way to display it centered
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

$img-w: 300px;
$img-w-mob: 220px;

.band-tile {
  width: $img-w;
  margin: 15px 10px;

  p {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
}

@media (max-width: $mq-max-width) {
  .band-tile {
    width: $img-w-mob;
    margin: 15px 0;
  }
}

@function img-height($size) {
  @return $size * 60 / 100;
}

.band-tile--img {
  width: $img-w;
  height: img-height($img-w);
  object-fit: cover;
}

@media (max-width: $mq-max-width) {
  .band-tile--img {
    width: $img-w-mob;
    height: img-height($img-w-mob);
  }
}

.band-tile--title {
  font-weight: 700;
}

.band-tile--subtitle {
  font-style: italic;
}

.band-tile--description {
  font-size: 13px;
}
