<main class="articulo">
    <img
        src="./assets/images/festival2.jpg"
        alt="Foto del último FestiPop"
        class="articulo--img"
    />
    <div class="articulo--header">
        <h1 class="display-1 header-title">¿Qué es el FestiPop?</h1>
        <p class="display-6">By FestiPop Lover</p>
    </div>
    <div class="content">
        <div class="content-text">
            <p class="content--header text-primary">
                Para los amantes del Pop, llega el mejor festival de todos... el
                FestiPop! Artistas de talla mundial vienen a España a compartir
                su talento. ¿Te lo vas a perder?
            </p>
            <p class="content--subtitle">
                Ed Sheeran, Ariana Grande, Justin Bieber... son solo unos de los
                muchos nombres que suenan en este festival. Risas, baile,
                fiesta, amigos, verano... FestiPop significa todo eso y más. En
                pleno Julio y al lado de la playa, el FestiPop reune cada año a
                miles de amantes del pop para que disfruten juntos de la música.
                A continuación te detallamos qué podrás encontrar en este
                festival.
            </p>
            <ol>
                <li class="li">
                    Camping zone. La zona donde podrás asentar tu "base popera"
                    durante los días del festival. La camping zone es donde
                    gente de todo el mundo se reune antes de los conciertos,
                    donde duermen, donde comen... en definitiva, un lugar donde
                    conocer gente. La Camping zone tiene habilitados varios
                    restaurantes, así como aseos y una zona de baño directa al
                    mar.
                </li>
                <li class="li">
                    Concert Zone. Donde la mágia tiene lugar. La concert zone
                    consta de cinco escenarios distintos, de los cuales dos
                    funcionan las 24 horas del día durante todo el festival
                    gracias a los DJ's que lo dan todo. El resto de escenarios,
                    llamados "Big", "Medium" y "Small", son donde se llevan a
                    cabo los conciertos según el calibre del artista. El
                    escenario "Big" albergará este año a más de 100.000
                    personas!
                </li>
                <li class="li">
                    Chill zone. Si estás cansado o cansada de tanta marcha,
                    también hemos habilitado la "Chill Zone", donde pondremos
                    hamacas, bares donde te servirán Smoothies, y donde
                    pondremos música relajante. Todo para que tú puedas
                    descansar.
                </li>
            </ol>
            <p>
                ¿Aún no estás convencido/a? Mira, aquí te dejamos la foto del
                concierto más grande del año pasado:
            </p>
        </div>
        <figure class="figure">
            <img src="./assets/images/festival3.jpg" class="figure-image" />
            <figcaption class="figcaption text-danger">
                FestiPop de 2021
            </figcaption>
        </figure>
    </div>
</main>
