<main class="bandas">
    <h1 class="display-4 text-center">Bandas</h1>
    <div
        class="d-md-flex flex-md-row flex-md-wrap justify-content-md-around text-center"
    >
        <div class="band-tile">
            <img
                src="./assets/images/edsheeran.jpg"
                class="band-tile--img"
                alt="Ed Sheeran"
            />
            <p class="band-tile--title">Ed Sheeran</p>
            <p class="band-tile--subtitle">Acústico de guitarra</p>
            <p class="band-tile--description">
                El gran Ed Sheeran nos trae una performance acústica de su
                último álbum.
            </p>
        </div>
        <div class="band-tile">
            <img
                src="./assets/images/taburete.jpg"
                class="band-tile--img"
                alt="Ed Sheeran"
            />
            <p class="band-tile--title">Taburete</p>
            <p class="band-tile--subtitle">Música en Español</p>
            <p class="band-tile--description">
                El grupo español taburete lidera cartel el domingo.
            </p>
        </div>
        <div class="band-tile">
            <img
                src="./assets/images/ariana.jpg"
                class="band-tile--img"
                alt="Ariana Grande"
            />
            <p class="band-tile--title">Ariana Grande</p>
            <p class="band-tile--subtitle">Estrella del Pop</p>
            <p class="band-tile--description">
                Ariana grande nos trae sus últimos éxitos.
            </p>
        </div>
        <div class="band-tile">
            <img
                src="./assets/images/coldplay.jpg"
                class="band-tile--img"
                alt="Coldplay"
            />
            <p class="band-tile--title">Coldplay</p>
            <p class="band-tile--subtitle">Espectáculo</p>
            <p class="band-tile--description">
                Revive las mejores canciones de Coldplay este sábado.
            </p>
        </div>
        <div class="band-tile">
            <img
                src="./assets/images/beatles.png"
                class="band-tile--img"
                alt="The Beatles Tribute Band"
            />
            <p class="band-tile--title">The Beatles Tribute Band</p>
            <p class="band-tile--subtitle">Mirada al pasado</p>
            <p class="band-tile--description">
                Para los fans de la música antigua, aquí llegan los Beatles (o
                sus parientes lejanos).
            </p>
        </div>
        <div class="band-tile">
            <img
                src="./assets/images/justin.jpg"
                class="band-tile--img"
                alt="Justin Bieber"
            />
            <p class="band-tile--title">Justin Bieber</p>
            <p class="band-tile--subtitle">Pop star</p>
            <p class="band-tile--description">
                Ven a ver a la estrella del pop Justin Bieber en directo.
            </p>
        </div>
    </div>
</main>
