<footer class="footer bg-primary">
    <a href="./index.html">
        <div>
            <i class="fa-solid fa-music header--icon"></i>
            <span class="footer--title">El FestiPop</span>
        </div>
    </a>
    <nav class="footer--nav">
        <a href="./bandas.html">Bandas</a>
        <a href="">¿Qué es el FestiPop?</a>
        <a href="">Contenido multimedia</a>
    </nav>
    <nav class="footer--nav">
        <a href=""><i class="fa-brands fa-google footer__icon"></i></a>
        <a href=""><i class="fa-brands fa-facebook footer__icon"></i></a>
        <a href=""><i class="fa-brands fa-twitter footer__icon"></i></a>
    </nav>
</footer>
