<main>
    <img
        src="./assets/images/portada.png"
        class="portada--img"
        alt="Imágen de un festival"
    />
    <div class="portada">
        <p class="title display-1">FestiPop</p>
        <p class="subtitle display-5">El mejor festival de Pop de España</p>
        <p class="grupo-1 display-6 bg-success text-center">Ed Sheeran</p>
        <p class="grupo-2 display-6 bg-secondary text-center">Taburete</p>
        <p class="grupo-3 display-6 bg-warning text-center">Ariana Grande</p>
    </div>
</main>
